.boton-clear{
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: rgb(153, 16, 112);
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: blanchedalmond;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 45px;
}

.boton-clear:hover{
    background-color: yellow;
}